html {
    font-size: 14px;
}
body {
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--surface-a);
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 1rem 0;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}
p {
    line-height: 1.5;
    margin: 0 0 1rem 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3);
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1);
    }
}
pre[class*="language-"]:before, pre[class*="language-"]:after {
    display: none !important;
}
pre[class*="language-"] code {
    border-left: 10px solid var(--surface-d) !important;
    box-shadow: none !important;
    background: var(--surface-e) !important;
    margin: 1em 0;
    color: var(--text-color);
    font-size: 14px;
}
pre[class*="language-"] code .token.tag, pre[class*="language-"] code .token.keyword {
    color: #2196f3 !important;
}
pre[class*="language-"] code .token.attr-name, pre[class*="language-"] code .token.attr-string {
    color: #2196f3 !important;
}
pre[class*="language-"] code .token.attr-value {
    color: #4caf50 !important;
}
pre[class*="language-"] code .token.punctuation {
    color: var(--text-color);
}
pre[class*="language-"] code .token.operator, pre[class*="language-"] code .token.string {
    background: transparent;
}
.p-toast.p-toast-top-right, .p-toast.p-toast-top-left {
    top: 100px;
}
.action-button {
    font-weight: bold;
    text-align: center;
    color: #fff !important;
    background-color: #fe8702;
    padding: 10px 24px 9px 24px;
    border-radius: 3px;
    transition: background-color 0.2s;
}
.action-button:hover {
    background-color: #c56a05;
    color: #fff;
}
.liveEditorSplitButton .p-splitbutton-defaultbutton .p-button-label {
    display: none;
}
.liveEditorPanel .p-menuitem-link {
    height: 38px;
}
.liveEditorPanel .p-menuitem-link img {
    margin-left: -4px;
    width: 20px;
    height: 20px;
}


/*dashboard top bar*/
.layout-topbar {
    flex-wrap: wrap;
    justify-content: space-between;
    background: #2678D8;
    /*background-color: var(--surface-a);*/
    padding: 0;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 997;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid var(--surface-d);
    display: flex;
    align-items: center;
    padding: 0 35px;
}
.layout-topbar .menu-button {
    display: none;
    color:#fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    transition: background-color 0.2s;
    cursor: pointer;
}
.layout-topbar .menu-button:hover {
    /*background-color: var(--surface-c);*/
    background: #3a81d4;
}
.layout-topbar .menu-button i {
    font-size: 24px;
    line-height: inherit;
}
.layout-topbar .logo img {
    width: 180px;
}
.layout-topbar .logo:focus {
    outline: 0 none;
    transition: box-shadow 0.2s;
}
.layout-topbar .app-theme {
    width: 45px;
    height: 45px;
}
.layout-topbar img.rounded_user {
    object-fit: cover;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    border: 1px solid #7b7b7b;
}

.layout-topbar .topbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    margin-left: auto;
    display: flex;
}
.layout-topbar .topbar-menu > li {
    height: 70px;
    line-height: 70px;
}
.layout-topbar .topbar-menu > li > a, .layout-topbar .topbar-menu > li > .p-link {
    text-decoration: none;
    color: var(--text-color);
    min-width: 120px;
    font-size: 16px;
    display: block;
    text-align: center;
    user-select: none;
    line-height: 68px;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    transition: border-bottom-color 0.2s;
    cursor: pointer;
}
.layout-topbar .topbar-menu > li > a:hover, .layout-topbar .topbar-menu > li > .p-link:hover, .layout-topbar .topbar-menu > li > a:focus, .layout-topbar .topbar-menu > li > .p-link:focus {
    border-bottom-color: var(--primary-color);
}
.layout-topbar .topbar-menu > li > a:focus, .layout-topbar .topbar-menu > li > .p-link:focus {
    z-index: 1;
    outline: 0 none;
    transition: box-shadow 0.2s;
}
.layout-topbar .topbar-menu > li.topbar-submenu {
    position: relative;
}
.layout-topbar .topbar-menu > li.topbar-submenu > ul {
    position: absolute;
    transform-origin: top;
    top: 70px;
    right: 0;
    width: 275px;
    max-height: 400px;
    background-color: var(--surface-f);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    overflow: auto;
    list-style-type: none;
    padding: 1rem;
    margin: 0;
    border-radius: 3px;
}
.layout-topbar .topbar-menu > li.topbar-submenu > ul > li {
    line-height: 1;
}
.layout-topbar .topbar-menu > li.topbar-submenu > ul > li.topbar-submenu-header {
    display: block;
    color: var(--text-color-secondary);
    font-weight: 600;
    user-select: none;
    padding: 1.5rem 0 1rem 0;
    font-size: 0.857rem;
    text-transform: uppercase;
}
.layout-topbar .topbar-menu > li.topbar-submenu > ul > li.topbar-submenu-header:first-child {
    padding-top: 1rem;
}
.layout-topbar .topbar-menu > li.topbar-submenu > ul a, .layout-topbar .topbar-menu > li.topbar-submenu > ul .p-link {
    text-decoration: none;
    color: var(--text-color);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    user-select: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}
.layout-topbar .topbar-menu > li.topbar-submenu > ul a:hover, .layout-topbar .topbar-menu > li.topbar-submenu > ul .p-link:hover {
    background-color: var(--surface-c);
}
.layout-topbar .topbar-menu > li.topbar-submenu > ul a span, .layout-topbar .topbar-menu > li.topbar-submenu > ul .p-link span {
    margin-left: 0.5rem;
}
.layout-topbar .topbar-menu > li.topbar-submenu > ul a i, .layout-topbar .topbar-menu > li.topbar-submenu > ul .p-link i {
    font-size: 18px;
    color: var(--text-color-secondary);
}
.layout-topbar .topbar-menu > li.topbar-submenu > ul a img, .layout-topbar .topbar-menu > li.topbar-submenu > ul .p-link img {
    width: 32px;
    margin-right: 0.5rem;
}
.layout-topbar .topbar-menu .theme-badge {
    padding: 2px 4px;
    vertical-align: middle;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    position: relative;
    top: -1px;
}
.layout-topbar .topbar-menu .theme-badge.material {
    background: linear-gradient(to bottom, #2196f3, #2196f3);
}
.layout-topbar .topbar-menu .theme-badge.bootstrap {
    background: linear-gradient(to bottom, #563d7c, #966bd8);
}
.layout-topbar .topbar-menu .theme-badge.darkmode {
    background: linear-gradient(to bottom, #141d26, #5a6067);
}


/*app menu*/

.layout-sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    height: calc(100% - 70px);
    background-color: var(--surface-a);
    overflow: auto;
    width: 210px;
    border-right: 1px solid var(--surface-d);
    user-select: none;
    transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
}
.layout-sidebar .layout-sidebar-filter {
    width: 100%;
}
.layout-sidebar .layout-menu .menu-category {
    display: block;
    color: var(--text-color-secondary);
    font-weight: 600;
    user-select: none;
    padding: 1.5rem 0 1rem 0;
    font-size: 0.857rem;
    text-transform: uppercase;
    border-top: 1px solid var(--surface-d);
}
.layout-sidebar .layout-menu .menu-category:first-child {
    border-top: 0 none;
    padding-top: 1rem;
}
.layout-sidebar .layout-menu .menu-items {
    padding: 0.8rem 0.5rem 0.8rem 0.7rem;
    display: block;
    flex-direction: column;
    margin-bottom: 2px;
}
.layout-sidebar .menu-items {
    color: var(--text-color);
    text-decoration: none;
}
.layout-sidebar .layout-menu .menu-items:hover {
    background-color: #ebf9ff;
    border-right: 3px solid #1890ff;
}
.layout-sidebar .menu-items.active-menu {
    background-color: #2678d8;
    color:#fff;
}
.layout-sidebar .menu-items.active-menu span{
    color:#fff;
}
.layout-sidebar .menu-items.active-menu:hover{
    background-color: #2678d8;
    border-right: 3px solid #1890ff;
    color:#fff;
}
.layout-sidebar .layout-menu .menu-items span {
    padding: 0.5rem 0.5rem 0.6rem 0.8rem;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}
.layout-sidebar .layout-menu .menu-items  .layout-menu-badge, .layout-sidebar .layout-menu .menu-items button .layout-menu-badge {
    padding: 0.14rem 0.5rem;
    font-size: 0.7rem;
    line-height: 1.4;
}
.layout-sidebar .layout-menu .menu-items a:focus, .layout-sidebar .layout-menu .menu-items button:focus {
    z-index: 1;
    outline: 0 none;
    transition: box-shadow 0.2s;
}
.layout-sidebar .layout-menu .menu-items a.router-link-exact-active, .layout-sidebar .layout-menu .menu-items button.router-link-exact-active {
    font-weight: 700;
}
.layout-sidebar .layout-menu .menu-items div.router-link-exact-active > a {
    font-weight: 700;
}
.layout-sidebar .layout-menu .menu-items div.router-link-exact-active ul {
    display: block;
}
.layout-sidebar .layout-menu .menu-items div ul {
    padding: 0.5rem 0;
    margin: 0;
    list-style-type: none;
}
.layout-sidebar .layout-menu .menu-items div ul a {
    font-size: 0.875rem;
    padding: 0.475rem 0.5rem 0.475rem 2rem;
}

/*content*/

.layout-content {
    margin-left: 210px;
    padding-top: 70px;
    height:100%;
    background-color: var(--surface-b);
}

.layout-content .content-section.introduction {
    /*background-color: var(--surface-b);*/
    color: var(--text-color);
    padding-bottom: 0;
    display: -ms-flexbox;
    display: flex;
    /*-ms-flex-align: top;*/
    /*align-items: top;*/
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.layout-content .content-section {
    padding: 1rem;
}

.layout-content .content-section.implementation {
    background-color: var(--surface-b);
    color: var(--text-color);
}

.add_button_content{
    margin-top: 10px;
}
.login-box{
    width: 370px;
}
/*responsive*/
@media screen and (max-width: 960px) {
    .layout-content {
        margin-left: 0;
        padding-top: 70px;
    }
    .add_button_content{
        margin-top: unset;
    }
    .layout-wrapper.layout-news-active .layout-content {
        padding-top: 180px;
    }
    .layout-wrapper.layout-news-active .layout-sidebar {
        top: 0;
        height: 100%;
    }
    .layout-wrapper.layout-news-active .layout-news-container {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, #fff 100%);
    }
    .layout-wrapper.layout-news-active img.layouts-news-mockup-image {
        display: none;
    }
    .layout-topbar {
        height: 70px;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }
    .layout-topbar .menu-button {
        display: block;
    }
    .layout-topbar .logo img {
        width: 150px;
    }
    .layout-topbar .app-theme {
        margin-left: 0;
        margin-right: 23px;
    }
    .layout-topbar .topbar-menu {
        background-color: var(--surface-a);
        width: 100%;
        height: 40px;
        margin: 0;
        border-top: 1px solid var(--surface-d);
    }
    .layout-topbar .topbar-menu > li {
        height: 40px;
        line-height: 40px;
        width: 25%;
    }
    .layout-topbar .topbar-menu > li > a, .layout-topbar .topbar-menu > li > .p-link {
        padding-bottom: 0;
        height: 40px;
        line-height: 38px;
        width: 100%;
        font-size: 14px;
        min-width: auto;
    }
    .layout-topbar .topbar-menu > li.topbar-submenu > ul {
        top: 40px;
    }
    .layout-sidebar {
        top: 0;
        z-index: 999;
        height: 100%;
        transform: translateX(-100%);
    }
    .layout-sidebar.active {
        transform: translateX(0);
    }
    .layout-content .content-section.introduction {
        flex-direction: column;
    }
    .layout-content .content-section.introduction .app-inputstyleswitch {
        margin-top: 1.5rem;
    }
    .layout-mask {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .layout-mask.layout-mask-active {
        z-index: 998;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        transition: background-color 0.5s;
    }
    .home .introduction > div {
        width: 100%;
    }
    .home .features > div {
        width: 100%;
    }
    .home .whouses > div {
        width: 100%;
    }
    .home .prosupport > div {
        width: 100%;
    }
    .layout-config .layout-config-button {
        left: auto;
        right: -52px;
    }
    .layout-config.layout-config-active {
        width: 100%;
    }
    .blocked-scroll {
        overflow: hidden;
    }

    .p-toast-top-center {
        left: 45%;
    }
}
@media screen and (max-width: 640px) {
    .layout-wrapper.layout-news-active .topbar-menu > li.topbar-submenu > ul {
        top: 180px;
    }
    .layout-topbar .topbar-menu > li.topbar-submenu {
        position: static;
    }
    .layout-topbar .topbar-menu > li.topbar-submenu > ul {
        top: 110px;
        position: fixed;
        right: auto;
        left: 0;
        width: 100vw;
    }
    .p-toast-top-center {
        left: 41%;
    }
}

/*theme change*/

.p-card .p-card-content{
    padding: 0;
}

.p-breadcrumb {
    background: unset;
    border: unset;
    border-radius: unset;
    padding: 0 0 1em 0;
}

.datatable-responsive-demo .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: none;
}

@media screen and (max-width: 40em) {
    .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-thead > tr > th,
    .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tfoot > tr > td {
        display: none !important;
    }

    .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tbody > tr > td {
        text-align: left;
        display: block;
        width: 100%;
        float: left;
        clear: left;
        border: 0 none;
    }

    .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
        padding: .4rem;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4rem;
        font-weight: bold;
    }

    .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tbody > tr > td:last-child {
        border-bottom: 1px solid var(--surface-d);
    }
}

.center-login {
    align-items: center;
    height: 100%;
    padding: 2em;
    background-color: var(--surface-b);
}

